@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: start;
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
}