.recent-transactions {
  &.wrap {
    width: 100%;
    overflow-x: auto;
  }

  &__header {
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      width: 90px;
      margin-right: 14px;
      font-size: 16px;
      font-weight: 400;
    
      flex-shrink: 0;
      display: flex;
      align-items: center;
      
      & > span {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 4px;
        background: url('../../../img/sprites/arrow-down.svg') no-repeat center center/cover;
        transition: transform 0.3s ease-in;
      }
    }
  }

  input[id="recent-transactions"]:checked ~ div > label[for="recent-transactions"] >  span {
    transform: rotate(180deg);
  }

  &__table-body-wrapper {
    // height: 335px;
    height: 310px;
    overflow: hidden;
    overflow-x: auto;
    position: relative;

    & {
      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $secondary;
        margin-top: 75px;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $darkGray;
        border-radius: 10px;
      }
    }

    .table {
      max-width: 600px;
      // min-width: 500px;
      position: relative;
  
      &__header {
        position: sticky;
        top: 0;
        z-index: 5;

        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        position: absolute;

        & > tr {
          display: block;

          & > th {

            &::after {
              content: '';
              width: 100%;
              height: 1px;
              background-color: $gray;
              
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
            }

            padding: 30px 0;
            background-color: $white;

            position: sticky;
            left: 0;
            z-index: 7;

            &:nth-child(1) {
              width: 140px;
              z-index: 8;
            }
          }
        }
      }

      &__body {
        & > tr {      
          display: block;

          & > td {  
            display: block;
            padding: 10px 0 10px 0;
            border-bottom: none;  
            text-align: right;

            &:last-child {
              border-bottom: 1px solid #D9D9D9;  
            }

            &::before {
              content: attr(data-label);
              color: #687D8C;
              float: left;
              font-weight: 600;
            }

            &:nth-child(1) {
              background-color: $white;

              position: sticky;
              left: 0;

              & > p {
                &:nth-child(2) {
                  display: none;
                }
              }
            }
      
            &:nth-child(3) {
              font-family: "Lexend-Semibold";
            }
          }
        }
      }
    }
  }

  input[id="recent-transactions"]:checked ~ &__table-body-wrapper {
    // overflow: scroll;
    height: auto;
  }

  @media (min-width: 375px) {
    &__table-body-wrapper {

      .table {
        min-width: 500px;

        &__header {
          clip: auto;
          height: auto;
          width: auto;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: static;

          & > tr {
            display:table-row;
          }
        }
  
        &__body {
          & > tr {
            display: table-row;

            & > td { 
              display:table-cell;
              padding: 20px 10px 20px 0;
              border-bottom: 1px solid #D9D9D9;  
              text-align: left;

              &::before {
                content: '';
                float: none;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 560px) {
    &__table-body-wrapper {
      height: 335px;

      .table {
        &__header {
          & > tr {     
            & > th {
              &:nth-child(1) {
                width: 210px;
              }
            }
          }
        }
  
        &__body {
          & > tr {
            & > td {  
              &:nth-child(1) {
                & > p {
                  &:nth-child(2) {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // min-width: 640px
  @include sm {
  };

  // min-width: 768px
  @include md {
    &__table-body-wrapper {
      height: 315px;

      .table {
        &__header {
          & > tr {
            & > th {
              &:nth-child(1) {
                width: 140px;
              }
            }
          }
        }
  
        &__body {
          & > tr {
            & > td {  
              &:nth-child(1) {
                & > p {
                  &:nth-child(2) {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  };

  // min-width: 1024px
  @include lg {
    &__table-body-wrapper {
      height: 335px;

      .table {
        &__header {
          & > tr {
            & > th {
              &:nth-child(1) {
                width: 210px;
              }
            }
          }
        }
  
        &__body {
          & > tr {
            & > td {  
              &:nth-child(1) {
                & > p {
                  &:nth-child(2) {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  };

  // min-width: 1280px
  @include xl {
  };

  // min-width: 1536px
  @include xxl {
  }
}
