.recent-transactions {
  &.wrap {
    width: 100%;
    overflow-x: auto;
  }

  &__header {
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      width: 90px;
      margin-right: 14px;
      font-size: 16px;
      font-weight: 400;
    
      flex-shrink: 0;
      display: flex;
      align-items: center;
      
      & > span {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 4px;
        background: url('../../../img/sprites/arrow-down.svg') no-repeat center center/cover;
        transition: transform 0.3s ease-in;
      }
    }
  }

  input[id="recent-transactions"]:checked ~ div > label[for="recent-transactions"] >  span {
    transform: rotate(180deg);
  }

  &__table-body-wrapper {
    height: 335px;
    overflow: hidden;
    overflow-x: auto;
    transition: height .5s ease;
    position: relative;

    & {
      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $secondary;
        margin-top: 75px;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $darkGray;
        border-radius: 10px;
      }
    }

    .table {
      max-width: 600px;
      min-width: 500px;

      position: relative;
  
      &__header {
        position: sticky;
        top: 0;
        z-index: 5;

        & > tr {
          & > th {

            &::after {
              content: '';
              width: 100%;
              height: 1px;
              background-color: $gray;
              
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
            }

            padding: 30px 0;
            background-color: $white;

            position: sticky;
            left: 0;
            z-index: 7;

            &:nth-child(1) {
              width: 140px;
              z-index: 8;
            }
          }
        }
      }

      &__body {
        & > tr {      
          & > td {  

            &:nth-child(1) {
              background-color: $white;

              position: sticky;
              left: 0;

              & > p {
                &:nth-child(2) {
                  display: none;
                }
              }
            }
      
            &:nth-child(3) {
              font-family: "Lexend-Semibold";
            }
          }
        }
      }
    }
  }

  input[id="recent-transactions"]:checked ~ &__table-body-wrapper {
    // overflow: scroll;
    height: auto;
  }

  @include lg {
    &__table-body-wrapper {
      .table {
        &__header {
          & > tr {
            & > th {
             
              &:nth-child(1) {
                width: 210px;
              }
            }
          }
        }
  
        &__body {
          & > tr {
            & > td {  
              &:nth-child(1) {
                & > p {
                  &:nth-child(1) { 
                  }
  
                  &:nth-child(2) {
                    display: block;
                  }
                }
              }
        
              &:nth-child(3) {
              }
            }
          }
        }
      }
    }
  }
}
