.sidebar-left {
  max-width: 270px;
  width: 100%;
  min-width: 240px;
  // height: 100%;
  height: 100vh;
  box-sizing: border-box;

  border-radius: $border-radius-30;
  color: $white;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  transform: translateX(-280px);
  transition: transform 0.7s cubic-bezier(.68,-0.55,.27,1.55);

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    &__image-wrapper {
      width: 50px;
      height: 50px;
      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__text {
      font-size: 22px;
    }
  }

  // min-width: 640px
  @include sm {
  };
  // min-width: 768px
  @include md {
  };
  // min-width: 1024px
  @include lg {
  };
  // min-width: 1280px
  @include xl {
    height: auto;
    display: block;
    position: static;
    transform: translateX(0);
  };
  // min-width: 1536px
  @include xxl {
  }
}