.main-block {
  max-width: 600px;
  min-width: 260px;
  width: 100%;
  position: relative;

 // min-width: 640px
  @include sm {
    min-width: 350px;
  };
  // min-width: 768px
  @include md {
    &::after {
      content: '';
      width: 2px;
      height: 100%;
      background-color: $gray;
      position: absolute;
      right: -20px;
      top: 0;
      bottom: 0;
    }
  };
  // min-width: 1024px
  @include lg {
  };
  // min-width: 1280px
  @include xl {

  };
  // min-width: 1536px
  @include xxl {
  }
}