h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}

li {
  list-style-type: none;
}

html, body {
    box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: "Lexend-Regular";
  scroll-behavior: smooth;

  @include lg {
  }
}

.wrapper {
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  position: relative;

  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  min-height: 1000px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  input[id="toggle-menu"]:checked {
    & + .sidebar-left {
      transform: translateX(0);
    }
  }

  // min-width: 640px
  @include sm {
  };
  // min-width: 768px
  @include md {
    flex-direction: row;
    align-items: stretch;
  };
  // min-width: 1024px
  @include lg {
    justify-content: center;
  };
  // min-width: 1280px
  @include xl {
  };
  // min-width: 1536px
  @include xxl {
  }
}

.btn {
  @extend %btn;
}  

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  color: $darkBlue;

  &__header {
    background-color: $white;
    text-align: left;

    & > tr {
      & > th {
        padding-right: 10px;
        font-size: 16px;
        font-weight: 400;
        color: #687D8C;
      }
    }
  }

  &__body {
    & > tr {
      & > td {  
        padding: 20px 10px 20px 0;
        font-size: 16px;
        border-bottom: 1px solid #D9D9D9;  
        
        & > p {
          &:nth-child(1) {
            font-family: "Lexend-Semibold";
          }

          &:nth-child(2) {
            margin-top: 10px;
            font-size: 14px;
            color: rgba($darkBlue, 0.3);
          }
        }
      }
    }
  }
}

